.facechange_container,
.dangerchange_container {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    animation: backgroundMove2 3s linear infinite;
}
.dangerchange_container {
    background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
    animation: backgroundMove 5s linear infinite;
}

.title_select_hero {
    display: flex;
    justify-content: center;
    animation: scalePluse 1s linear infinite alternate;
    background-color: rgb(168, 168, 168);
}
