
@keyframes backgroundMove {
    to {
        background-position: 0 500px;
    }
}
@keyframes backgroundMove2 {
    to {
        background-position: 300px 0;
    }
}

@keyframes characterMove {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        scale: 1.1;
    }
}
@keyframes characterMovePlusY {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        scale: 1.1;
    }
}

@keyframes blockRotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes slide {
    0% {
        top: -100px;
    }
    25% {
        top: 100px;
    }
    70% {
        top: 300px;
    }
    100% {
        top: 500px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scalePluse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes floating-heart {
    0% {
        opacity: 0;
        bottom: 0%;
        left: 0%;
    }
    10% {
        opacity: 1;
        bottom: 20%;
        left: 70%;
    }
    20% {
        bottom: 40%;
        left: 10%;
    }
    30% {
        bottom: 60%;
        left: 50%;
    }
    40% {
        opacity: 1;
        bottom: 80%;
        left: 5%;
    }
    48% {
        opacity: 0;
        bottom: 100%;
        left: 60%;
    }
    100% {
        opacity: 0;
        bottom: 100%;
        left: 90%;
    }
}
