@import url("./css/faces.css");
@import url("./css/hearts.css");
@import url("./css/keyframes.css");

* {
    padding: 0;
    margin: 0;
}

.main {
    margin-top: 10px;
}
.container {
    position: relative;
    max-width: 300px;
    margin: auto;
}
#game {
    width: 300px;
    height: 500px;
    position: relative;
    background: url("img/universe.jpg");
    background-repeat: repeat;
    background-size: cover;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    animation: backgroundMove 25s linear infinite;
}

.character,
.block {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url("img/jerzy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 5px;
    left: 100px;
    animation: characterMove 2s linear infinite;
    animation-play-state: paused;
}

.block {
    top: 500px;
    left: 0px;
    background-image: url("img/grocka.png");
    animation: slide 1s infinite linear, blockRotate 2s infinite linear;
    animation-play-state: paused;
}
.active {
    animation-play-state: running;
}

#counter-display {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 30px;
    color: #9c9aff;
}

#btn-refresh,
#btn-start {
    display: none;
    position: absolute;
    width: 15%;
    height: 8%;
    top: 45%;
    left: 42%;
    color: #9c9aff;
    background-color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 3px #9c9aff;
    cursor: pointer;
    z-index: 3;
    user-select: none;
    animation: scalePluse 1s linear alternate infinite;
}
#btn-start {
    display: block;
}

#left,
#right {
    width: 50%;
    height: 500px;
    position: absolute;
    z-index: 2;
}
#right {
    left: 50%;
}

#gameover-alert {
    display: none;
    color: #fff;
    position: absolute;
    font-size: 35px;
    top: 150px;
    left: 45px;
    text-shadow: 2px 2px #9c9aff;
    animation: fadeIn 1s linear;
}
.block_img {
    display: none;
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url("../img/grocka.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 30px;
    bottom: 40px;
    animation: characterMove 2s linear infinite reverse;
}
.sound_off_btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url("./img/volume-mute.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 14px;
    z-index: 3;
    right: 10px;
    cursor: pointer;
}

.sound_on {
    background-image: url("./img/volume.png");
}

.face_one,
.face_two,
.face_three {
    width: 70px;
    height: 70px;
    background-image: url("../img/faces/Wojtec.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: scalePluse 1s linear infinite alternate;
    cursor: pointer;
}

.one {
    background-image: url("../img/faces/Wojtec.png");
}

.face_two,
.two {
    background-image: url("../img/jerzy.png");
    animation: none;
    animation: characterMove 2s linear infinite reverse;
}

.face_three,
.three {
    background-image: url("../img/faces/Kierownik.png");
}

